/* Base */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  max-width: 950px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  background-image: url('../img/line-tile.png');
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400;}

a         { color: #2a7ae2; text-decoration: none; }
a:hover   { color: #000; text-decoration: underline; }
a:visited { color: #205caa; }

/* Header Styles */

header > div.container {
  width: 98.5%;
  margin: 2em auto;
  padding-left: 0;
  padding-right: 0;
}

/* Navigation */

nav {
  height: 40px;
}

nav ul {
  height: 100%;
  margin: 0 auto;
  padding-top: 1em;
  list-style-type: none;
  font-variant: small-caps;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  position: relative;
  z-index: 1;
}

nav a, nav a:hover, nav a:active, nav a:visited, nav a:focus {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* Jumbotron */

.jumbo-768-style {
  width: 95.5%;
  margin: 0 auto;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
}

/* Site content */

article .home-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
  
}

/* Site footer */

#footer-text {
  color: #ffffff;
  font-size: .9em;
}

/* Hidden-print */

.hidden-print {
  padding: 0;
}

@media (max-width: 768px) {
  /* Header */
  header img {
    max-width: 99%;
  }
  
  /* Jumbotron */
  .jumbo-768-style {
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
}