/* Base */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  max-width: 950px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #222;
  background-image: url('../img/line-tile.png');
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400;}

a         { color: #1e6b63; text-decoration: none; }
a:hover   { color: #1e6b63; text-decoration: none; opacity: 0.75; }

/* Header Styles */

header > div.container {
  width: 98.5%;
  margin: 2em auto;
  padding-left: 0;
  padding-right: 0;
}

/* Navigation */

nav {
  height: 40px;
}

nav ul {
  height: 100%;
  margin-left: 4em;
  padding-top: 1.3em;
  list-style-type: none;
  font-variant: small-caps;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  position: relative;
  z-index: 1;
}

nav a, nav a:hover, nav a:active, nav a:visited, nav a:focus {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

/* Jumbotron */

.jumbo-style {
  width: 90%;
  margin: 0 auto 2em;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 2em 3em 3em 3em;
}

/* Site content */

h1.home-title {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 1em;
  margin-top: 0;
}

h1.page-title {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: .5em;
  margin: .25em 0 1em 0;
  background-image: url('../img/dotted-border.png');
  background-repeat: repeat-x;
  background-position: bottom left;
}

h2.section-header {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h2.contact-header {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 1em;
}

h2.client-header {
  font-size: 1.3em;
  color: #1e6b63;
  margin-top: .8em;
}

ul li {
  margin-left: 2em;
}

article img {
  border-radius: .3em;
  -moz-border-radius: .3em;
  -webkit-border-radius: .3em;
  box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
  -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
  box-sizing: border-box;
  border: #fff 0.5em solid;
}

.clientImg {
  width: 200px;
  height: 200px;
  float: left;
  clear: both;
  margin: 1em 0;
}

.jumbotron p {
  font-size: 1em;
}

/* Site footer */

.footer-text {
  color: #ffffff;
  font-size: .9em;
  margin-bottom: 2em;
}

/* Hidden-print */

.hidden-print {
  padding: 0;
}

@media (max-width: 992px) {
  /* Navigation */
  nav ul {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  /* Header */
  header img {
    max-width: 99%;
  }

  /* Navigation */
  nav ul {
    max-width: 85%;
    margin: 0 auto;
    padding-top: 1em;
  }
  
  /* Jumbotron */
  .jumbo-style {
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }
}

@media (max-width: 768px) {
  /* Navigation */
  nav ul {
    max-width: 90%;
  }

  nav a, nav a:hover, nav a:active, nav a:visited, nav a:focus {
    font-size: .99em;
  }
}
