  <!-- Clients Section -->
  <section id="clients" class="container content-section">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2>Clients</h2>
      </div>
    </div>
    <div class="row services-row">
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="http://environmentreport.org/">Michigan Radio - The Environment Report</a></h4>
        <p class="client-p text-left">I helped Michigan Radio move over 5000 articles (nearly 15 years of archives) from a custom build CMS to a standard WordPress site. This process included cleaning data sources, transiting audio and images from the old site, and providing redirect links to maintain SEO with the new site.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="https://www.nsbasic.com/">NS Basic Corporation - AppStudio</a></h4>
        <p class="client-p text-left">AppStudio is a cross platform, integrated development environment for the creation of mobile applications. I’ve been involved with the project from the outset, first as the programming languages consultant and now as the lead developer.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="https://demandfood.com/">DemandFood - Mobile API & App Development</a></h4>
        <p class="client-p text-left">DemandFood is a food delivery service based in Austin, TX. I have created and currently support a mobile API and cross platform app which supports DemandFood’s delivery service using modern, highly available web technologies.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="http://animallaw.info/">MSU College of Law - AnimalLaw.info Data Transfer</a></h4>
        <p class="client-p text-left">I transitioned Michigan State University’s Animal Law repository, the largest of its kind, from a proprietary CMS to Drupal. My job was hosting and configuring Drupal as well as managing the migration of data. The proprietary CMS had to be completely reversed engineered, as there was no documentation.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left ilmansion">Illinois Executive Mansion Association - Custom Website Design & Development</h4>
        <p class="client-p text-left">I created a custom website for the Illionois Executive Mansion Association, a non-profit organization. The fully responsive website design has been extensively tested for cross-browser compatability and has tailor-made donation processing using <a href="https://stripe.com/">stripe.com</a>.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="https://tech.msu.edu/itservices/teaching-learning/">MSU Teaching & Learning - LDX</a></h4>
        <p class="client-p text-left">I investigated and resolved a high priority networking issue with their Flash based LDX simulation. The task involved a deep dive into legacy source code to determine a root cause for intermittent connectivity problems between the media server and the back end database.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="http://www.olivetcollege.edu/">Olivet College - IT Consulting & Adjunct Professor</a></h4>
        <p class="client-p text-left">I was instrumental in implementing and maintaining Olivet College’s experimental GNU/Linux-based computer lab. Additionally, I was previously an adjunct professor in the Computer Science department teaching Computer Science I & II, Relational Database Systems, Computer Networking and Computer Organization & Assembly Language.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="https://thoughtback.com/">Sharp Up, LLC - Thoughtback App</a></h4>
        <p class="client-p text-left">Thoughtback is a web and mobile productivity app that has been installed on thousands of Android devices. I created Thoughtback’s Android app and was an early member of the development team for the web app.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="https://www.olark.com/">Habla, LLC - Olark</a></h4>
        <p class="client-p text-left">Olark helps businesses integrate online chatting capabilities into their websites. Olark contacted me to build a custom <a href="https://www.pidgin.im/">Pidgin</a> installer for Windows based on the default <a href="http://nsis.sourceforge.net/Main_Page">Nullsoft</a> installer.</p>
      </div>
      <div class="col-lg-12 client-div">
        <img src="http://placebear.com/165/165" class="img-responsive client-img">
        <h4 class="client-header text-left"><a href="http://allianthealthcare.com/">Alliant Healthcare Products - Software Development</a></h4>
        <p class="client-p text-left">I created an internal web application for Alliant Healthcare Products which enabled the company to track sales leads.</p>
      </div>
    </div>
  </section>
