<header>
  <div class="container">
    <h1 class="visible-print-block">Ars Mentis LLC</h1>    
    <div class="col-sm-6 col-xs-12 hidden-print">
      <a href="{{ site.baseurl }}" class="hidden-print"><img src="{{ "/img/splash_logo.png" | prepend: site.baseurl }}" alt="Ars Mentis LLC"></a>
    </div>
    <div class="col-sm-6 col-xs-12 hidden-print">
      <nav class="ie-css-nav">
	<a class="btn navbar-toggle collapsed text-center" data-toggle="collapse" data-target="#nav-header-collapse" aria-expanded="false">Navigation <span class="glyphicon glyphicon-menu-down"></span></a>
	<div class="collapse navbar-collapse" id="nav-header-collapse">
          <ul role="navigation">
            <li class="text-center"><a href="{{ site.baseurl }}/about">About</a></li>
            <li class="text-center"><a href="{{ site.baseurl }}/services">Services</a></li>
            <li class="text-center"><a href="{{ site.baseurl }}/clients">Clients</a></li>
            <li class="text-center"><a href="{{ site.baseurl }}/contact">Contact</a></li>
          </ul>
	</div>
      </nav>
    </div>
  </div>
</header>
