    <!-- Services Section -->
    <section id="services" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Services</h2>
            </div>
        </div>
        <div class="row services-row text-center">
            <h3>Custom Software</h3>
            <div class="col-sm-4">
                <h4 class="service">Consulting</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">We’ll work together to turn your idea into a viable solution.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Development</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">Once we’ve found a solution, I can make it a reality.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Design</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I will work with the designer of your choice, or find a designer to create the perfect look for your product.</p>
            </div>
        </div>
        <div class="row services-row text-center">
            <div class="col-sm-4 col-sm-offset-2">
                <h4 class="service">Analysis</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I can propose enhancements and solutions to problems through careful analysis of your existing applications and infrastructure.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Support</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I stand by my software; if a bug is my fault, I’ll fix it for free.</p>
            </div>
        </div>
        <div class="row services-row text-center">
            <h3>IT Solutions</h3>
            <div class="col-sm-4">
                <h4 class="service">Consulting</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I can provide guidance on purchasing new systems.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Analysis</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">Or analyze your current system for problems.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Configuration</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I can configure servers and set up your office network.</p>
            </div>
        </div>
        <div class="row services-row text-center">
            <div class="col-sm-4 col-sm-offset-2">
                <h4 class="service">Hosting</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I’ll provide you with long-term, post-configuration support.</p>
            </div>
            <div class="col-sm-4">
                <h4 class="service">Support</h4>
                <img src="http://placebear.com/165/165">
                <p class="small">I’ll securely host your application or content.</p>
            </div>
        </div>
        <div class="row text-center">
            <h3>Capabilities</h3>
            <div class="col-md-6">
              <ul class="capabilities text-left small">
                <li>Mock-ups & design specifications</li>
                <li>Web & mobile app development using modern frameworks like <a href="https://angularjs.org/">AngularJS</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://ionicframework.com/">Ionic</a>, and <a href="http://cordova.apache.org/">Cordova</a></li>
                <li>eCommerce integration using platforms such as <a href="https://stripe.com/">Stripe</a></li>
                <li>Cross-platform development: iOS, Android, Windows, Mac OS</li>
                <li>Database design and analysis</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="capabilities text-left small">
                <li>Automated data transformation & conversion</li>
                <li><a href="https://www.python.org/">Python</a>, <a href="http://www.ecmascript.org/">JavaScript</a>/<a href="https://nodejs.org/">NodeJS</a>, <a href="https://php.net/">PHP</a>, <a href="http://www.w3.org/html/logo/">HTML</a>, <a href="http://www.w3.org/Style/CSS/Overview.en.html">CSS</a> and many other languages</li>
                <li><a href="https://www.mysql.com/">MySQL</a>, <a href="http://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.mongodb.org/">MongoDB</a>, and other databases</li>
                <li><a href="https://wordpress.org/">WordPress</a>, <a href="https://www.drupal.org/">Drupal</a> and other Content Management Systems</li>
                <li>Server configuration (primarily GNU/Linux) and management</li>
                <li>Network infrastructure configuration</li>
              </ul>
            </div>
        </div>
    </section>
