    <!-- Services Section -->
    <section id="services" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Ars Mentis</h2>
                <p>I started Ars Mentis in 2009 with the idea that technology should enrich lives, not complicate them. Since then, my company and client list have grown. From designing a database for one of the world’s largest law repositories to creating an online employment application for a family-owned cleaning business, I’ve created solutions for a broad range of clients. Open communication and high standards are integral to my business philosophy.</p>
                <p>All problems have solutions. Let me solve yours.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About James Kruth, founder</h2>
                <p>I was that geek in your high school. The one who started programming at 8, built computers at 13, and started his own IT consulting business at 15. I still love technology, and I enjoy sharing it with others. Before starting Ars Mentis, I worked for companies both large and small, public and private. I’ve designed custom software at all levels and specialize in web and mobile applications as well as data transformation and conversion. Basically, I like making stuff work, and I like showing other people how to do the same.</p>
                <p>I also play guitar. Just to even things out.</p>
            </div>
        </div>
    </section>
